.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between the cards */
    justify-content: space-around;
    padding: 20px;
  }
  
  .book-card {
    flex: 0 1 calc(33.333% - 20px); /* 3 cards per row with gap consideration */
    box-sizing: border-box;
    min-width: fit-content;
  }
  
  /* Two columns on medium screens */
  @media (max-width: 768px) {
    .book-card {
      flex: 1 1 calc(50% - 20px); /* 2 cards per row with gap consideration */
    }
  }
  
  /* One column on small screens */
  @media (max-width: 480px) {
    .book-card {
      flex: 1 1 calc(100% - 20px); /* 1 card per row with gap consideration */
    }
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .page-number {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .page-number:hover {
    background-color: #0056b3;
  }
  
  .search-input{
    width: 50%;
    border: solid 1px #ccc;
    padding: 15px;
    border-radius: 4px;
  }